<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); %>
  <body>
    <header>
      <ul>
        <li><a href="#">Covo</a></li>
        <li><a href="#">Get your Card</a></li>
      </ul>
    </header>

    <main class="card-wrapper">
      <div class="card">
        <div class="card-header">
          <div class="img-container">
            <img src="<%= member.profileImg %>" alt="profile-picture" />
          </div>

          <div class="name-group">
            <h1>
              <%= member.name %> <br />
              <%= member.lastName %>
            </h1>
            <p><%= member.description %></p>
          </div>
        </div>

        <div class="button-group">
          <button class="share">Share Contact</button>
          <button class="e-mail" href="mailto:<%= member.email %>">
            E-mail
          </button>
        </div>

        <div class="about">
          <h2>About</h2>
          <p><%= member.about %></p>
        </div>

        <div class="socials">
          <h2>Socials</h2>
          <ul class="socials-list">
            <% member.socials.forEach(function(social) { %>
            <li>
              <a href="<%= social.link %>"
                ><img src="<%= social.icon %>" alt="<%= social.social %>-icon"
              /></a>
            </li>
            <% }); %>
          </ul>
        </div>

        <div class="company">
          <h2>Companys</h2>
          <ul class="company-list">
            <% member.companys.forEach(function(company) { %>

            <li>
              <a href="<%= company.link %>">
                <div class="logo-container">
                  <img
                    src="<%= company.logo %>"
                    alt="<%= company.name %>-logo"
                  />
                </div>
                <h3><%= company.name %></h3>

                <img
                  src="/assets/icons/arrow.svg"
                  alt="arrow-icon"
                  class="arrow"
                />
              </a>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
